{% extends 'purchase/basepurchase.html.twig' %}

{% block content %}
    <h4 class="mb-4">Pedido de: {{purchase.buyerName}}</h4>

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

    <ul class="nav nav-underline">
        <li class="nav-item">
            <a id="itens-link" class="nav-link active" href="#">Itens</a>
        </li>
        <li class="nav-item">
            <a id="payments-link" class="nav-link" href="#">Pagamentos</a>
        </li>
    </ul> 

    <div id="itens">
        {% include "purchase/itenstab.html.twig" %}
    </div>

    <div id="payments" hidden="true">
        {% include "purchase/paymentstab.html.twig" %}
    </div>

    <a class="btn btn-success btn-sm" href="{{path('app_purchase_finish', {purchase: purchase.id})}}">Finalizar venda</a>

    <script type="text/javascript" src="{{ asset('js/tabpurchase.js') }}"></script>
{% endblock %}