{% extends 'purchase/basepurchase.html.twig' %}

{% block content %}
    {% include "alerts/message.html.twig" %}

    <h4>Listagem de vendas:</h4>

    <table class="table table-dark table-striped border border-black mt-4 text-center">
        <thead>
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Total</th>
            <th scope="col">Cliente</th>
            <th scope="col">Usuario</th>
            <th scope="col">Status</th>
            <th scope="col">Acoes</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td> #{{item.id}} </td>
                    <td class=" {{ (item.isFullyPaid) ? 'text-success' : 'text-danger' }} "> {{item.getShowTotal}} </td>
                    <td> {{item.buyerName}} </td>
                    <td> {{item.userSystem}} </td>
                    <td> {{item.getLastStatus}} </td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <a title="Editar venda" class="btn btn-primary btn-sm me-2" href="{{path('app_purchase_edit', {purchase: item.id})}}">E</a>
                            <form action="{{path('app_purchase_remove', {purchase: item.id})}}" method="POST">
                                <button title="Remover venda" class="btn btn-danger btn-sm">
                                    X
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "pagination/pages.html.twig" with {'route' : 'app_purchase_index'} %}
{% endblock %}